QFrame#frame{
border-image: url(:/images/background.jpg);
}
/*QTabWidget#tabWidget {
border-top:0px solid #e8f3f9;background:  transparent;
}*/
/*QWidget#centralWidget {
border-image: url(:/images/background.jpg) 0 0 0 0 stretch stretch;
}*/
/*QTabWidget {
background-image: transparent;
}*/
